

<body class="body_alt">
    
    
    <div class="card" id="cardProfile" style="width: 28rem;">
        <div class="card-header" id="headerProfile">
           
            <br>
            Profile
        </div>
        <ul class="list-group list-group-flush">
            <br>
            <img src="{{imgUrl}}" alt="Avatar" class="avatarProfile" >
            <br>
            <br>
            <li class="list-group-item" id="detailsProfile">{{firstname}}</li>
            <li class="list-group-item" id="detailsProfile">{{lastname}}</li>
            <li class="list-group-item" id="detailsProfile">{{country}}</li>
            <li class="list-group-item" id="detailsProfile">{{email}}</li>
            <li class="list-group-item" id="detailsProfile">{{bio}}</li>
            <br>
            <br>
            <a href="/edit_profile/{{_id}}" class="editProfile">Edit profile</a>
            <br>
        </ul>
    </div>
    

    <div class="card" id="stFav" style="width: 45rem;">
        <div class="card-body5">
            
             <div class="card-header" id="headerProfile">
           
            
            Favourites
        </div>
            
        </div>
    
            
            
            {{#each favourites}}
            
            <hr>
            
            <p class="card-text">{{abstract}}</p>
            <div class="buttonsFav">
            <form action="/news/article" method="post" id="formCss">
                <input type="text" value="{{url}}" name="url" hidden>
                <button class="btnViewArticle7" type="submit">Visit article </button>
            </form>
            <form action="/news/remove/{{_id}}" method="post" id="formCss" >
                <button class="btnViewArticle7" type="submit">🗑 Delete </button>
            </form>
            </div>

            {{/each}}
            
            
            
            
        </div>
    </div>
</body>
    