

<body class="body_alt">

    <div class="card" id="cardProfile" style="width: 28rem;">
        <div class="card-header" id="headerProfile">
            <br>
            <br>
            Profile
        </div>
        <ul class="list-group list-group-flush">
            <br>
            <img src="/images/avatartest.jpg" alt="Avatar" class="avatarProfile" >
            <br>
            <br>
            <li class="list-group-item" id="detailsProfile">{{firstname}}</li>
            <li class="list-group-item" id="detailsProfile">{{lastname}}</li>
            <li class="list-group-item" id="detailsProfile">{{country}}</li>
            {{!-- <li class="list-group-item">{{moilenumber}}</li> --}}
            <li class="list-group-item" id="detailsProfile">{{email}}</li>
            <li class="list-group-item" id="detailsProfile">{{bio}}</li>
            <br>
            <br>
            <a href="/edit_profile/{{_id}}" class="editProfile">Edit profile</a>
            <br>
        </ul>
    </div>
    

    <div class="card" id="stFav" style="width: 45rem;">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-header2" id="favProfile">Favourites Articles</h5>
            
            <hr>
            <p class="card-text">"Carlota Taveira agride velhinha que por esta não lhe ter cedido <br> passagem em uma passadeira!"</p>
            {{!-- <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Article</a> --}}
            <br>
            <a href="#" class="viewArticle">View Article</a>
            <br>
            <br>
            <hr>
            <p class="card-text">"Gato morre de sirrose depois de beber todo o mini-bar do seu dono"</p>
            {{!-- <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Article</a> --}}
            <br>
            <a href="#" class="viewArticle">View Article</a>
            <br>
            <br>
            <hr>
            <p class="card-text">"Homem cai do nono andar depois de acordar e ver que a mulher com <br> quem tinha ido para a cama na noite anterior afinal era a sua sogra"</p>
            {{!-- <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Article</a> --}}
            <br>
            <a href="#" class="viewArticle">View Article</a>
            <br>
            <br>
            <hr>
            
            
            
        </div>
    </div>
</body>
    {{!-- <div class="card" id="rtFav" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
 --}}



    {{!--
    <div class="contain">
        <div class="row2">
            <br>
            <br>
            <div class="col-md-3 border-right">
                <img src="/images/avatar.png" alt="Avatar" class="avatarProfile">
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="textProf">
                        <h4 class="textProf2">Profile</h4>
                    </div>
                    <div class="raw">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                placeholder="first name" value="Mário"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                class="form-control" value="Baltazar" placeholder="surname"></div>
                    </div>
                    <div class="raw">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value="960351856"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                class="form-control" placeholder="enter email id" value="teste@gmail.com"></div>

                    </div>
                    <div class="raw">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                class="form-control" placeholder="country" value="Portugal"></div>
                    </div>
                    <br>


                </div>
            </div>

        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html> --}}